---
title: Verification
description: Bluesky Verification Records and Verifier Orgs
published: true
date: 2025-04-21T17:25:00.385Z
tags: verify, verification
editor: markdown
dateCreated: 2025-04-21T17:25:00.385Z
---

# Bluesky Verification Records

Launched by Bluesky on April 21st [blog post](https://bsky.social/about/blog/04-21-2025-verification)

<blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:vpkhqolt662uhesyj6nxm7ys/app.bsky.feed.post/3lndmggj6ns2s" data-bluesky-cid="bafyreigmqsnows45d3mk754dplqvzhvm6xnqtbyc5xvy2ydf42eejvo67m" data-bluesky-embed-color-mode="system"><p lang="en">You&#x27;re taking public marketing speak a bit too literally. Anyone can publish a verification record, its just our app chooses to display them just from a specific set of accounts for now.</p>&mdash; Why (<a href="https://bsky.app/profile/did:plc:vpkhqolt662uhesyj6nxm7ys?ref_src=embed">@why.bsky.team</a>) <a href="https://bsky.app/profile/did:plc:vpkhqolt662uhesyj6nxm7ys/post/3lndmggj6ns2s?ref_src=embed">April 21, 2025 at 9:45 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>

Why's verification tool for gosky https://github.com/bluesky-social/indigo/pull/1040

## Lexicon

`app.bsky.graph.verification`

why publishing some verification records: https://atproto-browser.vercel.app/at/did:plc:vpkhqolt662uhesyj6nxm7ys/app.bsky.graph.verification