---
title: Verification
description: Bluesky Verification Records and Verifier Orgs
published: true
date: 2025-04-21T18:19:30.463Z
tags: verify, verification
editor: markdown
dateCreated: 2025-04-21T17:25:00.385Z
---

# Bluesky Verification Records

Launched by Bluesky on April 21st [blog post](https://bsky.social/about/blog/04-21-2025-verification)

* any account can publish verfication records
* trusted verifier orgs get a "scalloped blue checkmark" (see blog post)
* accounts which have a verification record pointing at them by a trusted verifier org will display a blue checkmark in the Bluesky app

<blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:vpkhqolt662uhesyj6nxm7ys/app.bsky.feed.post/3lndmggj6ns2s" data-bluesky-cid="bafyreigmqsnows45d3mk754dplqvzhvm6xnqtbyc5xvy2ydf42eejvo67m" data-bluesky-embed-color-mode="system"><p lang="en">You&#x27;re taking public marketing speak a bit too literally. Anyone can publish a verification record, its just our app chooses to display them just from a specific set of accounts for now.</p>&mdash; Why (<a href="https://bsky.app/profile/did:plc:vpkhqolt662uhesyj6nxm7ys?ref_src=embed">@why.bsky.team</a>) <a href="https://bsky.app/profile/did:plc:vpkhqolt662uhesyj6nxm7ys/post/3lndmggj6ns2s?ref_src=embed">April 21, 2025 at 9:45 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>

Why's verification tool for gosky https://github.com/bluesky-social/indigo/pull/1040

## Third Party

Deer Social https://deer.social already has an option to hide verified marks.

## Lexicon

`app.bsky.graph.verification`

why publishing some verification records: https://atproto-browser.vercel.app/at/did:plc:vpkhqolt662uhesyj6nxm7ys/app.bsky.graph.verification

## Trusted Verifiers

TODO: list who is a verifying org as they emerge

Let's get Trezy's Game Industry Labeler trusted!

<blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:2cxgdrgtsmrbqnjkwyplmp43/app.bsky.feed.post/3lndnp4zrxc24" data-bluesky-cid="bafyreih7gs5ric5v6n4ftgp7jnv3z5kam4i3agi5ldxolu3aolrnymbhq4" data-bluesky-embed-color-mode="system"><p lang="en">Hey @bsky.app team -- @trezy.codes runs a full verification process with the Games Industry Labeler.

Would be great to onboard him as a community verifier sooner rather than later.

Tech talk here with background -&gt; atprotocol.dev/tech-talk-tr...<br><br><a href="https://bsky.app/profile/did:plc:2cxgdrgtsmrbqnjkwyplmp43/post/3lndnp4zrxc24?ref_src=embed">[image or embed]</a></p>&mdash; Boris (<a href="https://bsky.app/profile/did:plc:2cxgdrgtsmrbqnjkwyplmp43?ref_src=embed">@bmann.ca</a>) <a href="https://bsky.app/profile/did:plc:2cxgdrgtsmrbqnjkwyplmp43/post/3lndnp4zrxc24?ref_src=embed">April 21, 2025 at 10:08 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>

# Tools

Tracking verified accounts https://github.com/mmattbtw/bsky-verified-account-tracker

https://bsky.app/profile/verified.pds.mmatt.net

